*{
    margin:0;
    padding:0;
}
body{
    background-color:black;
    text-align: center;
}
#Screen{
    border:none;
    background-color: black;
    color:white;
    font-size: 30px;
    margin-top:120px;
    margin-left:400px;
    width:350px;
    text-align:end;
}
.container{
        height:70vh;
        display: flex;
        justify-content: center;
        align-items: center;
}
.buttons{
    width:60vh;
    height:60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.inside-button{
    width:12vmin;
    height:12vmin;
    border-radius:30rem;
    border:none;
    font-size:30px;
}
.inside-button:hover{
    cursor: pointer;
}
.inside-button:active{
    opacity:0.6;
}
#greyb{
    background-color: grey;
    color:black;
}
#orgb{
    background-color: orange;
    color:white;
}
#normal{
    background-color: #333333;
    color:white;
}
